<form>
  <p>
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" ngModel #username />
  </p>
  <p>
    <label for="password">Password</label>

    <input type="password" id="password" name="password" ngModel #password />
  </p>
  <div>
    <button type="submit" (click)="loginUser(username.value, password.value)">
      Iniciar sesión
    </button>
    <button type="submit" (click)="redireccionRegistro()">Registro</button>
  </div>
  <!--    <input type="text" id="name" name="name" value="Pepe" />
   <input type="text" id="password" name="password" value="1234" />
   <button type="submit" (click)="loginUser('Pepe', '1234')">
     Iniciar sesión
   </button>
   <button type="submit" (click)="redireccionRegistro()">Registro</button>
  -->
</form>

<!-- 
   usuario de pruebas: katechen kate789
  -->
