form {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

.ErrroLog{
  color: red;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*Estilo para nombre y password*/
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

/*Estilo para los botones*/
button[type="submit"] {
  background-color: #da291c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0.5rem;
}

button[type="submit"]:hover {
  background-color: #d80f0a;
}
