/* Define la fuente y el tipo de letra que se utilizará para el texto en el cuerpo de la página. */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e31e24;
  padding: 10px;
  color: #ffffff;
}

/* Elimina el margen predeterminado del párrafo dentro de la etiqueta div del navbar. */
nav div p {
  margin: 0;
}

/* Estilo de los botones */
button {
  background-color: #e31e24;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333333;
}

/*Estilos del boton deshabilitado*/
button:disabled {
  background-color: #f0f0f0;
  color: #333333;
  cursor: not-allowed;
}

.container {
  width: 100%;
  overflow-x: auto; /* Añade una barra de desplazamiento horizontal si el contenido se desborda del contenedor */
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1rem;
}

.alerta {
  color: red; /* Texto en rojo */
}

.lista_cryptos {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.lista_cryptos th,
.lista_cryptos td {
  border: 1px solid #333333; /* Borde negro */
  padding: 10px;
  text-align: center;
}

.lista_cryptos th {
  background-color: #e31e24; /* Fondo rojo */
  color: #ffffff; /* Texto blanco */
}

.imgIcon {
  max-width: 50px;
  height: auto;
}
