<nav>
  <div>
    <div class="logo">
      <div class="crypto-logo"></div>
      <div class="logo_text">wallet</div>
    </div>
  </div>
  <div>
    <P>{{ nombreUserLog }}</P>
    <P>DEPOSIT:{{ deposit }}</P>
    <p>
      <button (click)="cerrarSesion()">Log Out</button>
    </p>
  </div>
</nav>

<div class="alerta">
  <h1>{{ mensaje }}</h1>
</div>
<div class="container" *ngIf="nombreUserLog">
  <table class="lista_cryptos">
    <tr>
      <th>Nombre</th>
      <th>Valor</th>
      <th>Stock</th>
      <th>Comprar</th>
    </tr>
    <tr *ngFor="let coin of coins; let i = index">
      <td>{{ coin.cripto_name }}</td>
      <td>{{ coin.value }}</td>
      <td>{{ coin.stock }}</td>

      <td *ngIf="deshabilitaBoton(coin.cripto_id)">
        <button disabled>Comprar {{ coin.cripto_id }}</button>
      </td>
      <td *ngIf="!deshabilitaBoton(coin.cripto_id)">
        <button class="boton-{{ i }}" (click)="buyCoin(coin.cripto_id)">
          Comprar {{ coin.cripto_id }}
        </button>
      </td>
    </tr>
  </table>

  <table class="lista_cryptos">
    <tr>
      <!--  <th>ID</th> -->
      <th>Crypto name</th>
      <th>Asset</th>
      <!-- <th>Icon</th> -->
      <th>Value</th>
      <th>Stock</th>
      <th>Amount</th>
    </tr>

    <tr *ngFor="let coinUser of cryptosUser; let i = index">
      <!-- <td>{{ coinUser.user_id }}</td> -->
      <td>{{ coinUser.cripto_name }}</td>
      <td>{{ coinUser.asset }}</td>
      <!-- 
      <td>
        <img src="{{ coinUser.icon }}" alt="imgIcon" class="imgIcon" />
      </td> 
      -->
      <td>{{ coinUser.value }}</td>
      <td>{{ coinUser.stock }}</td>
      <td>
        <button
          (click)="
            venderMoneda(coinUser.amount, coinUser.user_id, coinUser.cripto_id)
          "
          title="Vender moneda"
        >
          -
        </button>
        {{ coinUser.amount.toString().padStart(2, "0") }}
        <button
          (click)="
            comprarMasMonedas(
              coinUser.amount,
              coinUser.user_id,
              coinUser.cripto_id
            )
          "
          title="Comprar moneda"
        >
          +
        </button>
      </td>
    </tr>
  </table>
</div>
